Repository arbor-sim/arbor, pull requests merged in 2019-07, with the labels that each got.

#799 Python wrapper: documentation
  doc/cpp_common.rst
  doc/cpp_domdec.rst
  doc/cpp_hardware.rst
  doc/cpp_recipe.rst
  doc/cpp_simulation.rst
  doc/index.rst
  doc/install.rst
  doc/model_domdec.rst
  doc/model_hardware.rst
  doc/model_intro.rst
  doc/model_recipe.rst
  doc/model_simulation.rst
  doc/py_cable_cell.rst
  doc/py_common.rst
  doc/py_domdec.rst
  doc/py_hardware.rst
  doc/py_intro.rst
  doc/py_profiler.rst
  doc/py_recipe.rst
  doc/py_simulation.rst
  python/cells.cpp
  python/context.cpp
  python/domain_decomposition.cpp
  python/example/ring.py
  python/recipe.cpp
  python/schedule.cpp
  python/simulation.cpp
  python/spikes.cpp
Labels: documentation, python

#796 Python wrapper: profiler
  doc/py_intro.rst
  python/CMakeLists.txt
  python/example/ring.py
  python/profiler.cpp
  python/pyarb.cpp
Labels: python

#808 remove connection_shim and fix connection printer
  python/recipe.cpp
Labels: bug, python

#809 Py doc corr
  doc/py_cable_cell.rst
  doc/py_profiler.rst
  python/profiler.cpp
Labels: documentation, python
