Repository arbor-sim/arbor, pull requests merged in 2019-06, with the labels that each got.

#778 Py feature simulation
  python/CMakeLists.txt
  python/domain_decomposition.cpp
  python/identifiers.cpp
  python/pyarb.cpp
  python/simulation.cpp
Labels: python

#797 Fix import error for python2/validation scripts.
  validation/ref/neuron/ball_and_squiggle.py
  validation/ref/neuron/nrn_validation.py
Labels: bug

#795 Fix modcc printing for namespaces.
  modcc/printer/cprinter.cpp
  modcc/printer/cudaprinter.cpp
  modcc/printer/infoprinter.cpp
  test/unit/CMakeLists.txt
  test/unit/unit_test_catalogue.cpp
Labels: bug, modcc
