Repository arbor-sim/arbor, pull requests merged in 2020-09, with the labels that each got.

#1138 remove arb::util::either from Python interface
  python/s_expr.cpp
  python/s_expr.hpp
  python/strprintf.hpp
Labels: python

#1157 S expr
  CMakeLists.txt
  arbor/CMakeLists.txt
  arbor/include/arbor/morph/label_parse.hpp
  arbor/include/arbor/morph/locset.hpp
  arbor/include/arbor/morph/region.hpp
  arbor/include/arbor/string_literals.hpp
  arbor/morph/label_parse.cpp
  arbor/morph/locset.cpp
  arbor/morph/region.cpp
  arbor/s_expr.cpp
  arbor/s_expr.hpp
  cmake/CompilerOptions.cmake
  doc/cable_cell.rst
  doc/labels.rst
  doc/mechanisms.rst
  doc/scripts/gen-labels.py
  doc/scripts/inputs.py
  example/dryrun/branch_cell.hpp
  example/gap_junctions/gap_junctions.cpp
  example/generators/generators.cpp
  example/ring/branch_cell.hpp
  example/single/single.cpp
  python/CMakeLists.txt
  python/cells.cpp
  python/error.hpp
  python/example/single_cell_builder.py
  python/example/single_cell_swc.py
  python/flat_cell_builder.cpp
  python/morph_parse.hpp
  python/s_expr.hpp
  python/single_cell_model.cpp
  python/test/cpp/CMakeLists.txt
  python/test/cpp/s_expr.cpp
  python/tutorial/example1.py
  test/common_cells.cpp
  test/unit/CMakeLists.txt
  test/unit/test_fvm_layout.cpp
  test/unit/test_fvm_lowered.cpp
  test/unit/test_mc_cell_group.cpp
  test/unit/test_mc_cell_group_gpu.cpp
  test/unit/test_morph_expr.cpp
  test/unit/test_morph_stitch.cpp
  test/unit/test_s_expr.cpp
Labels: enhancement, python

#1164 Fix python and C++ examples
  example/dryrun/dryrun.cpp
  python/example/ring.py
  python/example/single_cell_builder.py
  python/example/single_cell_swc.py
  python/recipe.cpp
Labels: 0.4, bug

#1169 Fix copy paste error on typeful ion painting.
  python/cells.cpp
Labels: 0.4, bug, python

#1165 New SWC parser broke `load_swc_allen`.
  arbor/swcio.cpp
  python/morphology.cpp
Labels: 0.4, bug, python
