Repository arbor-sim/arbor, pull requests merged in 2020-12, with the labels that each got.

#1267 Instruct Cmake to use PROJECT_SOURCE_DIR when building Python bindings
  python/CMakeLists.txt
Labels: cmake

#1269 Remove mention of the Copyright Transfer Agreement
  doc/contrib/pr.rst
Labels: documentation

#1268 Move contrib documentation to right place.
  doc/contrib/index.rst
  doc/contrib/pr.rst
Labels: documentation

#1235 Decor
  .gitignore
  arbor/CMakeLists.txt
  arbor/cable_cell.cpp
  arbor/cable_cell_param.cpp
  arbor/fvm_layout.cpp
  arbor/include/arbor/cable_cell.hpp
  arbor/include/arbor/cable_cell_param.hpp
  arbor/include/arbor/util/typed_map.hpp
  doc/concepts/cable_cell.rst
  doc/concepts/cell.rst
  doc/concepts/labels.rst
  doc/concepts/mechanisms.rst
  doc/concepts/morphology.rst
  doc/cpp/cable_cell.rst
  doc/internals/util.rst
  doc/python/cable_cell.rst
  doc/python/cell.rst
  doc/python/hardware.rst
  doc/python/morphology.rst
  doc/python/simulation.rst
  doc/tutorial/index.rst
  doc/tutorial/single_cell_model.rst
  example/dryrun/branch_cell.hpp
  example/gap_junctions/gap_junctions.cpp
  example/generators/generators.cpp
  example/lfp/lfp.cpp
  example/probe-demo/probe-demo.cpp
  example/ring/branch_cell.hpp
  example/single/single.cpp
  python/CMakeLists.txt
  python/cells.cpp
  python/example/network_ring.py
  python/example/single_cell_model.py
  python/example/single_cell_multi_branch.py
  python/example/single_cell_recipe.py
  python/example/single_cell_swc.py
  python/flat_cell_builder.cpp
  python/pyarb.cpp
  python/test/unit/test_cable_probes.py
  scripts/travis/build.sh
  test/common_cells.cpp
  test/common_cells.hpp
  test/unit/CMakeLists.txt
  test/unit/test_cable_cell.cpp
  test/unit/test_cv_geom.cpp
  test/unit/test_cv_layout.cpp
  test/unit/test_domain_decomposition.cpp
  test/unit/test_event_delivery.cpp
  test/unit/test_fvm_layout.cpp
  test/unit/test_fvm_lowered.cpp
  test/unit/test_mc_cell_group.cpp
  test/unit/test_mc_cell_group_gpu.cpp
  test/unit/test_probe.cpp
  test/unit/test_ratelem.cpp
  test/unit/test_recipe.cpp
  test/unit/test_spikes.cpp
  test/unit/test_synapses.cpp
Labels: enhancement, python

#1277 Changed default Python library install path. Refined Python instructions.
  CMakeLists.txt
  doc/install/build_install.rst
  doc/install/python.rst
  python/CMakeLists.txt
Labels: documentation, python
